[submodule "ThirdParty/Leviathan"]
	path = ThirdParty/Leviathan
	url = https://github.com/hhyyrylainen/Leviathan.git
[submodule "ThirdParty/date"]
	path = ThirdParty/date
	url = https://github.com/HowardHinnant/date.git
[submodule "ThirdParty/GQ"]
	path = ThirdParty/GQ
	url = https://github.com/TechnikEmpire/GQ.git
