/* The GTK inspector is really handy for defining these */
.ListItemContainer{
    background-color: white;
}

.ListItemContainerSelected{
    background-color: cadetblue;
}

progressbar > trough, progress{
  min-height: 15px;
}
