/* The GTK inspector is really handy for defining these */
.ListItemContainer{
    background-color: white;
}

.ListItemContainerSelected{
    background-color: cadetblue;
}

.ListItemContainerInactive{
    background-color: gray;
}

progressbar > trough, progress{
  min-height: 15px;
}

.ArrowButton{
    padding-left: 30px;
    padding-right: 30px;
}

.PositionIndicator{
    background-color: black;
}
